.impression {
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    order: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 32px;
  }
}

.impression .form-group__title {
  @media (min-width: @tablet-width) {
    text-align: left;
  }
}

.form__group-list {
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 62px;
  }
}

.form__impression-item {
  height: 69px;
  align-items: baseline;
  display: flex;

  @media (min-width: @tablet-width) {
    height: 78px;
  }
}

.control {
  position: relative;
  padding-left: 79px;

  @media (min-width: @tablet-width) {
    padding-left: 75px;
  }
}

.control-mark {
  position: absolute;
  left: 3px;
  width: 51px;
  height: 51px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: -14px;

  &:hover {
    background-color: @brightgrey;
  }

  &:active {
    background-color: #d5d5d5;
    opacity: 0.3;
  }
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 21px;
  height: 21px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.control-label {
  font-family: "pt sans bold", "arial", sans-serif;
  line-height: 26px;
  font-size: 18px;
  color: #000000;
}
