.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--nojs {
  display: none;
}

.toggle-button {
  border: 0;
  background-color: transparent;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-right: 19px;
  cursor: pointer;
}

.toggle-button__svg {
  fill: @lightblue;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }
}
