.advantage {
  text-align: center;
}

.advantage__wrapper--first {
  padding-top: 75px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 24px;
}

.advantage__wrapper--accent {
  background-color: @lightblue;
  color: @white;
  text-align: center;
}

.advantage__title {
  font-family: "pt sans bold", "arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
}

.advantage__num {
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 400;
}

.advantage__text {
  text-transform: uppercase;

  font-size: 14px;
  line-height: 22px;
}

.advantage__photo-city {
  background-image: url("../img/photo-city.jpg");
  background-repeat: no-repeat;
background-position: center;
height: 260px;
}

.advantage__list {
  padding-top: 37px;
  padding-bottom: 7px;
  padding-left: 70px;
  padding-right: 19px;
}

.advantage__item {
  position: relative;
  text-align: left;
  padding-bottom: 28px;
}

.advantage__text-header {
  font-family: "pt sans bold", "arial", sans-serif;
  margin: 0;
  font-size: 18px;
  padding-bottom: 18px;
}

.advantage__text-p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.icon-house::before {
  content: url("../img/icon-house.svg");
  width: 39px;
  height: 37px;
  position: absolute;
left: -49px;
top: -11px;
fill: @lightblue;
}

.icon-gift::before {
  content: url("../img/icon-gift.svg");
  width: 39px;
  height: 37px;
  position: absolute;
  left: -45px;
  top: -13px;
fill: @lightblue;
}

.icon-food::before {
  content: url("../img/icon-burger.svg");
  width: 39px;
  height: 37px;
  position: absolute;
  left: -52px;
  top: -7px;
fill: @lightblue;
}

.advantage__wrapper--second {
  padding-top: 44px;
  padding-right: 18px;
  padding-left: 18px;
  padding-bottom: 21px;
}

.advantage__photo-bridge {
  background-image: url("../img/photo-bridge.jpg");
background-repeat: no-repeat;
background-position: center;
height: 260px;
}

.advantage__wrapper--no-accent {
  background-color: @lightgrey;
}
.advantage__wrapper--no-accent::after {
content: " ";
width: 280px;
height: 1px;
background-color: #D6D6D6;
position: absolute;
bottom: 0;
left: 20px;
}

.advantage__wrapper--third {
  padding-top: 31px;
  padding-right: 19px;
  padding-left: 19px;
  padding-bottom: 11px;
  position: relative;
}

.advantage__wrapper--fourth {
  padding-top: 31px;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 11px;
  position: relative;
}

.advantage__wrapper--fifth {
  padding-top: 31px;
  padding-right: 35px;
  padding-left: 35px;
  padding-bottom: 11px;
  position: relative;
}
