.find-hotel {
  padding-top: 11px;
  padding-right: 19px;
  padding-left: 20px;
  padding-bottom: 49px;
}

.find-hotel__content {
  text-align: center;
  padding-bottom: 28px;
}

.find-hotel__title {
  font-family: "pt sans bold", "arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.find-hotel__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}


