html {
  height: 100%;
  font-weight: 400;
  font-family: "pt sans", "arial", sans-serif;
  line-height: 21px;
  font-size: 14px;
}

.page-body {
  min-height: 100%;
  margin: 0;
  background-color: @white;
  color: #000000;
}

.page-body__container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1200px;
  }
}
