/* ====== COLORS ====== */

@lightblue: #81B3D2;
@brightblue: #669EC0;
@darkblue: #5496BD;
@grey: #E5E5E5;
@lightgrey: #F2F2F2;
@brightgrey: #E5E5E5;
@darkgrey: #666666;
@white: #FFFFFF;

/* ====== VIEWPORTS ====== */

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
