html {
  height: 100%;
}

/* ====== VISUALLY HIDDEN ====== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====== RESET LIST ====== */
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ====== PAGE BODY ====== */
.page__body {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  background-color: lightgreen;
  flex-grow: 1;
  width: 100%;
}
.page-body__container {
  width: 320px;
  margin: 0 auto;
}
.page-main {
  flex-grow: 1;
  width: 100%;
}

/* ====== PAGE HEADER ====== */
.page-header__container {
  width: 320px;
  margin: 0 auto;
}

/* ====== TOPER ====== */
.toper {
width: 100%;
height: 56px;
}

.toper__container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
}

.toper__logo {
  z-index: 2;
}

/* ====== TOGGLE ====== */
.main-nav__toggle {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.main-nav__toggle:hover {
  opacity: 0.6;
}
.main-nav__toggle:active {
  opacity: 0.3;
}
.main-nav__toggle--wrapper{
  position: absolute;
  right: 20px;
  top: 17px;
}

/* ====== MAIN NAV ====== */
.main-nav__container {
  position: absolute;
left: 0;
top: 0;
display: none;
}

.main-nav__list {
  background-color: #81B3D2;
width: 320px;

}
.site-list__item {
height: 55px;
font-family: "pt sans", "verdana", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 40px;
display: flex;
text-transform: uppercase;
color: #ffffff;
box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
text-align: center;
align-items: center;
}
.site-list__item:hover {
  background-color:  #669EC0;
opacity: 0.6;
}
.site-list__item:active {
background-color: #5496BD;
opacity: 0.3;
}
.site-list__link {
  text-decoration: none;
  color: #ffffff;
  width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.site-list__item:nth-last-child(1) {
  position: relative;
}
.site-list__item:nth-last-child(1)::after {
  content: " ";
  position: absolute;
  width: 320px;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
bottom: 0;
}

/* ====== MAIN NAV CROSS ====== */
.main-nav__cross--wrapper {
  position: absolute;
  right: 20px;
  top: 17px;
}
.main-nav__cross {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.main-nav__cross:hover {
  opacity: 0.6;
}
.main-nav__cross:active {
  opacity: 0.3;
}

/* ====== WELCOME ====== */

/* как я понимаю, тут должно быть более широкое фото, доступа к которому у меня пока нет( */
.welcome-main {
 margin: 0 auto;
 height: 389px;
}
.welcome-main__img {
background-image: url("../source/img/back-mobile.jpg");
background-repeat: no-repeat;
height: 389px;
position: relative;
}
/* а этот блок, несмотря на свой абсолют должен быть всегда по центру,
не придумала как его отцентровать автоматически. Еще в один див запихнуть? */
.welcome-main__text {
position: absolute;
background-image: url("../source/img/text-index.svg");
background-repeat: no-repeat;
width: 282px;
height: 214px;
z-index: 2;
top: 90px;
right: 20px;
}
.welcome-main__img::before {
  position: absolute;
content: url("../source/img/intro-triangle.svg");
bottom: -4px
}
/* ====== PAGE MAIN ====== */
.page-main {
padding: 0;
width: 100%;
margin: 0 auto;
}
.page-main__container {
  width: 320px;
  margin: 0 auto;
}

/* ====== PAGE MAIN HEADER ====== */
.page-main__header {
  margin: 0 auto;
  padding: 32px 18px 0px 18px;
  position: relative;
}
.page-main__header::after {
position: absolute;
content: url("../source/img/white-arrow.svg");
bottom: -42px;
right: 0;
}
.page-main__title {
  font-family: "pt sans", "verdana", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 26px;
text-transform: uppercase;
color: #000000;
padding-bottom: 30px;
text-align: center;
}
.page-main__text {
  font-family: "pt sans", "verdana", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
text-transform: uppercase;
color: #000000;
text-align: center;
}


.article-header__wrapper--accent {
  background-color: #81B3D2;
}

.article-header__content {
  text-align: center;
  padding: 55px 18px 20px 18px;
}
.article-header__title {
  font-family: "pt sans", "verdana", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 30px;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 45px;
}
.article-header__num {
  font-family: "pt sans", "verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.article-header__text {
  font-family: "pt sans", "verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
font-size: 14px;
line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.article__photo-1 {
  background-image: url("../source/img/back-mobile.jpg");
background-repeat: no-repeat;
width: auto;
height: 389px;
}



.designed-in__icon {
  width: 27px;
  height: 34px;
}
